---
import "../styles/global.css";
import MainContent from "../components/MainContent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<body>
		<BaseLayout>
			<MainContent />
		</BaseLayout>
	</body>
</html>

<style></style>
