---
import "../styles/global.css";
import "@fontsource-variable/roboto";
import "@fontsource-variable/ballet";
import MainContent from "../components/MainContent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BaseLayout>
			<MainContent />
		</BaseLayout>
	</body>
</html>

<style></style>
