---

---

<footer>
	<h4>VALERIA DOMINGUEZ 2025</h4>
	<div class="social-media">
		<h4>SOCIAL MEDIA</h4>
		<nav>
			<ul>
				<li class="social-media-link">
					<a href=""
						><img
							src="../../images/linkedin.png"
							alt="linkedin logo"
						/></a
					>
				</li>
				<li class="social-media-link">
					<a href=""
						><img
							src="../../images/behance.png"
							alt="behance logo"
						/></a
					>
				</li>
				<li class="social-media-link">
					<a href=""
						><img
							src="../../images/instagram.png"
							alt="instagram logo"
						/></a
					>
				</li>
			</ul>
		</nav>
	</div>
</footer>
<style>
	footer {
		margin-top: 7%;
		display: flex;
		justify-content: space-between;
		padding: 0px 50px;
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.social-media-link {
		margin: 0px 3px;
	}
	.social-media {
		display: flex;
		flex-direction: row;
	}
</style>
