---
import MainButton from "./MainButton.astro";
---

<main>
	<div class="title">
		<h3>WELCOME TO MY</h3>
		<h1>Portfolio</h1>
		<div>
			<MainButton text="ABOUT ME" />
			<MainButton text="MY WORK" />
		</div>
	</div>
	<div class="front-images">
		<img
			class="ascii-bunny"
			src="../../images/Conejo-Ascii.png"
			alt="Conejo en arte Ascii"
		/>
		<img
			class="flower"
			src="../../images/flower.png"
			alt="flower"
		/>
		<img class="crispy" src="../../images/crispy.png" alt="cat" />
	</div>
</main>
<style>
	main {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin: 81px 85px 16px 85px;
		height: 50vh;
	}
	.title {
		width: 50%;
		text-align: center;
	}
	.title h3 {
		font-weight: 400;
		font-style: normal;
		size: 26px;
		text-align: left;
		padding-left: 4vw;
	}
	.title h1 {
		font-family: "Ballet Variable", cursive;
		font-weight: 400;
		font-size: 180px;
		margin: 16.1px 0px;
	}
	.front-images {
		position: relative;
		width: 50%;
		text-align: center;
	}
	.ascii-bunny {
		width: 70%;
	}
	.flower {
		position: absolute;
		width: 30%;
		top: 0%;
		left: 15%;
	}
	.crispy {
		position: absolute;
		width: 30%;
		bottom: -10%;
		right: 10%;
	}
</style>
