---
const { text } = Astro.props;
---

<button>
	{text}
</button>

<style>
	button {
		font-weight: 500;
		font-size: 20px;
		padding: 5px 20px;
		width: 180px;
		border-radius: 34px;
		background: linear-gradient(
			90deg,
			#ffffff 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}
</style>
